$header-height: 10rem;
$footer-height: 4rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: antiquewhite;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: $header-height;
}

.header-heading {
    width: 100vw;
    height: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.today {
    text-align: center;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.currentDate {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.currentMonth {
    min-width: 10rem;
    text-align: center;
}

.currentMonthSelect {
    background-color: transparent;
    border: none;
    border: 1px solid black;
    border-radius: .4rem;
    font-size: 1.8rem;
    width: 10rem;
    text-align: center;
}

.currentYear, .currentYearInput {
    width: 6rem;
    font-size: 1.8rem;
    text-align: center;
}

.currentYearInput {
    background-color: transparent;
    border: 1px solid black;
    border-radius: .4rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
}

.monthSelector, .yearSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - $footer-height - $header-height);
    flex-grow: 1;
    padding-top: 2rem;
    gap: 1rem;
}

.calendar-box {
    border: 1px solid darkslateblue;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.month {
    flex-grow: 1;

    $month-header-height: 3rem;

    &__header {
        background-color: aliceblue;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        gap: .4rem;
        height: $month-header-height;
        margin: .4rem .4rem 0;
    }

    &__body {
        background-color: bisque;
        margin: 0.4rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 0.4rem;
        height: calc(100% - $month-header-height - 1.2rem);
    }
}

.weekday-cell {
    height: 100%;
    flex-grow: 1;
    background-color: aquamarine;
    font-size: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.day-cell {
    background-color: cadetblue;
    color: aliceblue;
    font-size: 1.6rem;
    padding: 0.6rem;
    height: auto;
    
    &__empty {
        background-color: darkgray;
    }
}

.current-day {
    background-color: darkcyan;
}

button {
    background-color: transparent;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

select, option ,input {
    font-family: var(--font-inter);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}

.footer {
    padding: 1rem;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.calendar-year {
    display: grid;

    .weekday-cell, .day-cell {
        font-size: 1rem;
        padding: .1rem;
    }

    &__month {


        &__name {
            font-size: 1.4rem;
            width: 100%;
            padding-left: .4rem;
        }
    }
}

.main {
    position: relative;
    padding: 0 1rem 1rem;
}

.calendar-box {
    width: 80%;
    height: auto;
}

.calendar-year {
    width: 20%;
    grid-template-columns: 1fr;
    max-height: 100%;
    overflow: scroll;
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
        height: unset;
    }

    .calendar-box {
        width: 100%;
    }

    .calendar-year {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }

    .currentDate {
        font-size: 1.4rem;
        width: 100%;

        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .wrapper {
        width: unset;
    }

    //.currentMonth {}
}

@media screen and (min-width: 1200px) {
    .calendar-box {
        width: 60%;
    }

    .calendar-year {
        width: 40%;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }

    .currentDate {
        font-size: 1.4rem;
        width: 100%;

        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .wrapper {
        width: unset;
    }

    //.currentMonth {}
}

/* 
@media screen and (max-width: 400px) {
    .calendar-year {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    .calendar-year {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 601px) and (max-width: 850px) {
    .calendar-year {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 851px) and (max-width: 1200px) {
    .calendar-year {
        grid-template-columns: repeat(4, 1fr);
    }
} */